.accordion-button {
  outline: none;
  /* Remove default outline */
  box-shadow: none !important;
  /* Remove any box-shadow added by Bootstrap */
}

.accordion-button:focus {
  outline: none;
  /* Remove focus outline */
  box-shadow: none !important;
  /* Remove focus box-shadow */
}

@media (max-width: 576px) {
  .custom-container {
    min-width: -webkit-fill-available !important;
  }
  .accordion-container {
    width: max-content !important;
  }
}
